<div id="header">
  <div class="intro-box">
      <!-- Edit: Header Title -->
      <span class="intro-title">Rule the Court</span>

      <!-- Edit: Header Description -->
      <p class="intro-text">                
          Welcome to my masterlist.<br>
          <b>Bold</b> <i>Italic</i> <s>Striked</s>              
      </p>

      <div class="linkbox left-box">
          <!-- Edit: Basic Links -->
          <a href="/"><i class="fa fa-home" aria-hidden="true"></i> <span class="hov-nav nav-left arrow_box_left">Home</span></a>
         
          <a href="/ask"><i class="fa fa-envelope" aria-hidden="true"></i><span class="hov-nav nav-left arrow_box_left ask">Message</span></a>

          <a href="/submit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="hov-nav nav-left arrow_box_left ask">Submit</span></a>

          <a href="/dashboard"><i class="fa fa-share" aria-hidden="true"></i><span class="hov-nav nav-left arrow_box_left ask">Dashboard</span></a>

          <!-- DO NOT REMOVE THE CREDITS -->
          <a href="http://noiretblanc-themes.tumblr.com/"><i class="fa fa-cog" aria-hidden="true"></i><span class="hov-nav nav-left arrow_box_left ask">Theme</span></a>
      </div>

      <div class="linkbox right-box">
          <!-- Edit: Custome Links -->
          <a href="/url"><i class="fa fa-crosshairs" aria-hidden="true"></i><span class="hov-nav nav-right arrow_box_right">Link 1</span></a>
         
          <a href="/url"><i class="fa fa-crosshairs" aria-hidden="true"></i><span class="hov-nav nav-right arrow_box_right">Link 2</span></a>
         
          <a href="/url"><i class="fa fa-crosshairs" aria-hidden="true"></i><span class="hov-nav nav-right arrow_box_right">Link 3</span></a>
         
          <a href="/url"><i class="fa fa-crosshairs" aria-hidden="true"></i><span class="hov-nav nav-right arrow_box_right">Link 4</span></a>
         
          <a href="/url"><i class="fa fa-crosshairs" aria-hidden="true"></i><span class="hov-nav nav-right arrow_box_right">Link 5</span></a>
      </div>
  </div>
</div>


<div id="content">        
<!-- Diamond Previews: All pictures must be below this code -->
 
  <a href="#CHANGE" rel="leanModal" class="chara-pp">
  <span class="chara-name">Character Name</span>
  <img src="https://i.imgur.com/iheClok.png" class="resize" style="top:0px;left:0px">
  </a>        

<!-- Diamond Previews: All pictures must be above this code -->
</div>        
<!-- Character Profiles: All blocks be below this code -->


 
<!-- Copy: New Character Profile -->
<div id="CHANGE" class="modal">
  <div class="chara_name">
      <!-- Edit: Character Name -->
      <div class="name_bg">Character Name
          <div class="triangle-topright-a"></div><div class="triangle-bottomright-a"></div><div class="triangle-topleft-a"></div><div class="triangle-bottomleft-a"></div>
      </div>
  </div>
  <div class="chara_pic">
      <!-- Edit: Character Picture. Recommended size 250x450-->
      <img src="https://i.imgur.com/lGrjYL7.png" class="resize_p">
  </div>
  <div class="chara_basic">            
      <span class="chara_data">
          <b><i class="fa fa-map-marker" aria-hidden="true"></i></b>
          <!-- Edit: Location -->
               <p>Location</p>
          </span>
      <span class="chara_data">
          <b class="bday"><i class="fa fa-birthday-cake" aria-hidden="true"></i></b>
          <!-- Edit: Birthday -->
              <p>Bday</p>
      </span>
      <span class="chara_data">
          <b class="sex"><i class="fa fa-venus-mars" aria-hidden="true"></i></b>
          <!-- Edit: Sex -->
              <p>Male / Female</p>
      </span>            
      <span class="chara_data">
          <b><i class="fa fa-user-circle" aria-hidden="true"></i></b>
          <!-- Edit: Position/Other -->
              <p>Other</p>
      </span>            
      <span class="chara_data">
          <b><i class="fa fa-star" aria-hidden="true"></i></b>
          <!-- Edit: Sign -->
              <p>Aries</p>
      </span>            
      <span class="chara_data">
          <b><i class="fa fa-dot-circle-o" aria-hidden="true"></i></b>
          <!-- Edit: Anime/Other -->
              <p>Other</p>
      </span>
  </div>

  <div class="chara_box">

  <!-- Abilty Bars: All bars must be below this code -->
     
     
      <!-- Copy: To create an ability bar -->
      <div class="bar_box">
          <!-- Edit: Ability Name -->
          <span class="bar_name">Ability Name</span>                
          <!-- Edit: Abilty lvl. (Scale 1 to 5) -->
          <span class="bar_stt">5/5</span>
          <div class="a_bar">                
              <!-- Edit: Change the 5 according to the level you want. (1 to 5) -->
              <div class="level_bar lvl-5"></div>
             
              <!-- DO NOT EDIT THIS PIECE OF CODE -->
              <span class="lvl_dt lvl1"></span><span class="lvl_dt lvl2"></span><span class="lvl_dt lvl3"></span><span class="lvl_dt lvl4"></span><span class="lvl_dt lvl5"></span>
          </div>
      </div>
      <!-- End of ability bar -->            
     
     
  <!-- Abilty Bars: All bars must be above this code -->
     

      <!-- Edit: Description Box -->
      <div class="desc_box">
          You can put some info of the character here.<br>
          <b>Bold</b> <s>Striked</s> <i>Italic</i> <a href="">Links</a><br><br>
          The info you add here can be as long as you want.<br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia finibus posuere. Ut ultrices massa non purus malesuada, at fringilla sem condimentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse egestas, velit ullamcorper luctus dignissim, libero dui semper dolor, sed porttitor dolor massa et tellus. Donec tincidunt ullamcorper egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quam nulla, vehicula vitae urna non, varius scelerisque turpis.
      </div>

      <!-- Edit: Tag Box -->
      <div class="tag_box">

          <span class="tag"><b><i class="fa fa-tag" aria-hidden="true"></i></b><a href="url tag">Tag name</a></span>
          <span class="tag"><b><i class="fa fa-tag" aria-hidden="true"></i></b><a href="url tag">Tag name</a></span>
          <span class="tag"><b><i class="fa fa-tag" aria-hidden="true"></i></b><a href="url tag">Tag name</a></span>
          <span class="tag"><b><i class="fa fa-tag" aria-hidden="true"></i></b><a href="url tag">Tag name</a></span>
          <span class="tag"><b><i class="fa fa-tag" aria-hidden="true"></i></b><a href="url tag">Tag name</a></span>
          <span class="tag"><b><i class="fa fa-tag" aria-hidden="true"></i></b><a href="url tag">Tag name</a></span>                

      </div>
      <!-- Edit: Tag Box -->
  </div>
</div>
<!-- End to create new Character Profile -->

<!-- Character Profiles: All blocks be below this code -->

<script>
  //Diamond Script.//
  $("#content").diamonds({
      size: 200, // Size of diamonds in pixels. Both width and height.
      gap: 10, // Pixels between each square.
      hideIncompleteRow: false,
      autoRedraw: true,
      itemSelector: ".chara-pp"
  });

  //Pop Up Script//
  $("a[rel*=leanModal]").leanModal({
      top: 150,
      overlay: 0.8, // Change the opacity of the BG that covers the page when the pop up is open. Goes from 0 to 1.  //
      closeButton: ".modal_close"
  });
 
  // Disables body scrolling in the description. //
      $( '.desc_box' ).bind( 'mousewheel DOMMouseScroll', function ( e ) {
  var e0 = e.originalEvent,
      delta = e0.wheelDelta || -e0.detail;
  this.scrollTop += ( delta < 0 ? 1 : -1 ) * 30;
  e.preventDefault();
});

$(document).ready(function() {
      $("a[rel*=leanModal]").click(function() {
          $('html').css('overflow', 'hidden');
          $('body').bind('touchmove', function(e) {
              e.preventDefault()
          });
      });
      $('#lean_overlay').click(function() {
          $('html').css('overflow-y', 'auto');
          $('body').unbind('touchmove');
      });
  });
</script>