<div class='filler'>

  <div class='profilecontainer'>
      <div class='mugshot'> 
          <img id='shrood' src="https://pbs.twimg.com/profile_images/710296781431504896/xyQvjaX1_400x400.jpg">

          <ul style='padding-left: 11px;'>
            <a id='twitch' href="https://www.twitch.tv/shroud">
              <img src="https://seeklogo.com/images/T/twitch-tv-logo-51C922E0F0-seeklogo.com.png" alt="Twitch.tv/Shroud" width="22em" height="22em" border="0">
              <img src="https://vignette.wikia.nocookie.net/logopedia/images/2/26/Twitch_logo.svg/revision/latest?cb=20140727180649" alt="Twitch.tv/Shroud" width="40em" height="16em" border="0">
            </a>

            <br>

            <a id='twitter' href="https://twitter.com/C9shroud?">
              <img src="https://vignette.wikia.nocookie.net/roblox/images/2/2e/Twitter_Bird.png/revision/latest?cb=20171111141052" alt="Twitter.com/C9Shroud" width="22em" height="22em" border="0">
            </a>
          </ul>
      </div>

      <div class='bio'> 
      
      </div>
  </div>

</div>